<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.kodimanager.profileswitch" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="30"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <application android:label="Kodi Account Switch" android:allowBackup="false">
    <receiver android:name=".ArmReceiver" android:exported="true"/>
  </application>
</manifest>
